@import 'vanilla-cookieconsent/dist/cookieconsent.css';
@import 'cookiecustom.css';

@font-face {
    font-family: 'FunnelDisplay';
    font-weight: 400;
    src: url(@/fonts/FunnelDisplay-Regular.eot);
    src: url(@/fonts/FunnelDisplay-Regular.eot?#iefix) format('embedded-opentype'),
         url(@/fonts/FunnelDisplay-Regular.otf) format('otf'),
         url(@/fonts/FunnelDisplay-Regular.svg#FunnelDisplay-Regular) format('svg'),
         url(@/fonts/FunnelDisplay-Regular.ttf) format('truetype'),
         url(@/fonts/FunnelDisplay-Regular.woff) format('woff'),
         url(@/fonts/FunnelDisplay-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'FunnelDisplay';
    font-weight: 700;
    src: url(@/fonts/FunnelDisplay-Bold.eot);
    src: url(@/fonts/FunnelDisplay-Bold.eot?#iefix) format('embedded-opentype'),
         url(@/fonts/FunnelDisplay-Bold.otf) format('otf'),
         url(@/fonts/FunnelDisplay-Bold.svg#FunnelDisplay-Medium) format('svg'),
         url(@/fonts/FunnelDisplay-Bold.ttf) format('truetype'),
         url(@/fonts/FunnelDisplay-Bold.woff) format('woff'),
         url(@/fonts/FunnelDisplay-Bold.woff2) format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
    navigation: auto;
}

@layer base {
    sup {
        @apply inline-block;
    }
}

.gaitegi--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-right: 3rem;
}

.gaitegi--select:has(option:first-child:checked) {
    color: #9fa5b1;
}